.homeContainer{
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 150px;
  }
  
  .homeImg{
    height: 500px;
    width: 100%;
    box-shadow: 0 0 8px 8px white inset;
  }
  
  .homeInput{
    position: absolute;
    border-radius: 10px;
    border: none;
    top: 8%;
    width: 50%;
    left: 25%;
    padding-left: 10px;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
  }

  .homeInput:focus{
    outline: none;
  }

  .search-button{
      position: absolute;
      top: 8%;
      left: 76%;
      border: none;
      outline: none;
      background: none;
  }

  .search-button:focus{
    outline: none;
  }

  .search-button img{
    height: 30px;
    margin: auto;
  }

  .search-button img:hover{
    height: 35px;
  }

  .home-welcome-label{
    position: absolute;
    top: 10%;
    left: 55%;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  .home-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 220%;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 43%;
    margin-bottom: 2%;
  }

  .home-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 25%;
    width: 230px;
  }

  .home-item:hover{
    color: white;
    background-color: rgb(28, 24, 49);
    text-decoration: none;
  }

  .home-item-extra{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 25%;
    width: 230px;
  }

  .home-item-extra:hover{
    color: white;
    background-color: rgb(28, 24, 49);
    text-decoration: none;
  }

  .office-list{
    box-sizing: border-box;
    padding: 25px;
    display: inline-block;
    margin: 10px;
    width: 30%;
    margin-left: 2%;
    box-shadow: 1px 1px 5px 2px rgb(226, 226, 226);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .office-list-a{
    color: black;
  }

  .office-list:hover{
    background-color: rgb(21, 32, 58);
    color: white;
  }
