.homeContainer{
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 150px;
  }

  .logga-ut-button{
    position: absolute;
    top: 2%;
    left: 86%;
    background: none;
    border: none;
    color: #DD0332;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
  }

  .min-sida-button{
    position: absolute;
    top: 2%;
    left: 77%;
    background: none;
    border: none;
    color: #DD0332;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
  }

  .min-sida-button:hover, .logga-ut-button:hover{
    border-bottom: 1px solid #DD0332;
  }
  
  .min-sida-button:focus, .logga-ut-button:focus{
    outline: none;
    border-bottom: 1px solid #DD0332;
  }

  .min-sida-button a, .logga-ut-button a{
    color: #DD0332;
  }

  .min-sida-button a:hover, .logga-ut-button a:hover{
    text-decoration: none;
    color: #DD0332;
  }

  .homeImg{
    height: 800px;
    width: 100%;
    box-shadow: 0 0 8px 8px white inset;
    opacity: 80%;
  }
  
  .homeInput{
    border-radius: 10px;
    border: 1px solid rgb(179, 177, 177);
    width: 85%;
    padding-left: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    color: grey;
  }

  .homeInput:focus{
    outline: none;
  }

  .search-button{
      border: none;
      outline: none;
      background: none;
  }

  .search-button:focus{
    outline: none;
  }

  .search-button img{
    height: 30px;
    margin-bottom: 7px;
    margin-left: 15px;
  }

  .search-button img:hover{
    height: 35px;
  }

  .home-welcome-label{
    position: absolute;
    top: 10%;
    left: 55%;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  .home-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 220%;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 43%;
    margin-bottom: 2%;
  }

  .home-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 25%;
    width: 230px;
  }

  .home-item:hover{
    color: white;
    background-color: rgb(28, 24, 49);
    text-decoration: none;
  }

  .home-item-extra{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 25%;
    width: 230px;
  }

  .home-item-extra:hover{
    color: white;
    background-color: rgb(28, 24, 49);
    text-decoration: none;
  }

  .office-list{
    box-sizing: border-box;
    padding: 25px;
    display: inline-block;
    margin: 10px;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    box-shadow: 1px 1px 5px 2px rgb(226, 226, 226);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .office-list-a{
    color: black;
  }

  .office-list:hover{
    box-shadow: 1px 1px 5px 2px rgb(173, 173, 173);
    color: rgb(21, 32, 58);
  }

  .list-container{
    position: absolute;
    left: 45%;
    top: 0;
    margin: 5%;
    padding: 3%;
    box-shadow: 1px 1px 5px 2px rgb(181, 181, 182);
    background-color: white;
  }

  .list-container h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    color: #DD0332;
    text-align: center;
  }

  .list-container button{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    border-radius: 9px;
    width: 100%;
    background-color: white;
    color: #DD0332;
    border: 1px solid #DD0332;
  }

.list-container button:focus{
    outline: none;
}

.list-container button:hover{
    background-color: #DD0332;;
    color: white;
}
  
.diven{
  display: inline-block;
  margin: 1%;
  padding-left: 5%;
  width: 185px;
}

.loading{
  padding: 200px;
}

@media only screen and (max-width: 1300px) {
  .min-sida-button{
    left: 75%;
  }
}

@media only screen and (max-width: 1120px) {
  .homeContainer{
    padding-bottom: 300px;
  }
}


@media only screen and (max-width: 1000px) {
  .min-sida-button{
    left: 73%;
  }
}

@media only screen and (max-width: 850px) {
  .min-sida-button{
    left: 71%;
  }
}

@media only screen and (max-width: 740px) {
  .homeContainer{
    padding-bottom: 650px;
  }
}

@media only screen and (max-width: 660px) {
  .min-sida-button{
    left: 64%;
  }
}

@media only screen and (max-width: 500px) {
  .min-sida-button{
    left: 20%;
  }
  .logga-ut-button{
    left: 55%;
  }
  .homeContainer{
    padding-bottom: 850px;
  }
  .homeImg{
    display: none;
  }
  .list-container{
    left:2%;
  }
    
}