.user-container{
    padding-bottom: 150px;
}

.user-img{
    border-radius: 50%;
    display: block;
    overflow: hidden;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.img-container{
    padding-top: 5%;
    padding-left: 17%;
}

.load-img-button{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: white;
    color: rgb(248, 64, 64);
    padding-left: 25%;
}

.textfield-container{
    padding-top: 5%;
}

.grid-one{
    padding-top: 5%;
}

.grid-two{
    padding-top: 5%;
    padding-left: 30%;
}

.load-cv{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-left: 10px;
    color: rgb(102, 101, 101);
}

.login-text{
    font-family: 'Montserrat', sans-serif;
    padding-top: 8%;
    display: block;
    margin-left: 10px;
    color: rgb(102, 101, 101);
    font-size: 20px;
}

.login-email{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(102, 101, 101);
    display: block;
}

.button{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 9px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #DD0332;
    color: #DD0332;
    border: none;
}

.button:focus{
    outline: none;
}

.button:hover{
    background-color: #DD0332;;
    color: white;
}

.competens{
    display: inline;
}

.competense-output{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 110%;
    padding: 3px 15px;
    border: 1.3px solid rgb(163, 162, 162);
    border-radius: 15px;
    text-align: center;
    color: rgb(128, 122, 122);
}

.competense-container{
    margin-top: 2%;
}

.add-btn{
    margin-top: 1%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 9px;
    width: 47%;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #DD0332;
    color: #DD0332;
    border: none;
}

.add-btn:hover{
    background-color: #DD0332;
    color: white;
}

.add-btn:focus{
    outline: none;
}

.delete-competense{
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
    color: #DD0332;
    border: none;
}

.delete-competense:hover{
    font-weight: bold;
}